body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fffffe;
    /* padding-top: 80px; */
}

.navbar-nav .nav-link:hover {
    background-color: #47c0df;
    color: #333 !important;
    border-radius: 5px;
}

/* main */

h1 {
    color: sienna;
    text-align: center;
}

footer p {
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* form */

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }