body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    min-height: 100vh;
    background-color: aquamarine;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5%;
}

/* main */

h1 {
    color: sienna;
    text-align: center;
}

footer p {
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* form */

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }